body {
    --bg: rgb(233, 233, 233);
    --textNormal: #222;
    --textTitle: #222;
    --hr: hsla(0, 0%, 0%, 0.2);
    --link: rgb(224, 151, 83);
    background-color: var(--bg);
  }
  
body.dark {
    -webkit-font-smoothing: antialiased;
    --bg: rgb(15, 41, 75);
    --textNormal: rgba(255, 255, 255, 0.88);
    --textTitle: white;
    --hr: hsla(0, 0%, 100%, 0.2);
    --link: rgb(221, 125, 35);
    
}

a {
    text-decoration: wavy overline;
}

body.dark a:hover{
    color: var(--link); 
   
}

body a:hover{
    color: var(--link);
}